/* body{
   
} */

/* .form-btn{
    border: none;
    border-radius: 0%;
} */

/*  Register page style */
.register-page .form-section {
  background-color: #fff;
}

.register-page input,
.login-page input {
  background-color: #e5e5e5;
}

/* login-page */
.form-btn {
  border: none;
  border-radius: 0%;
  color: white;
  background-color: green;
}

.login-page a {
  text-align: center;
  color: #b0b0b0;
}

/* 
ABOUT US */
/* 
.about-us-container .title-component-wrapper {
  background-color: #202020;
  background-image: url(../images/about-us.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  color: #fff;
}


/* 
BOOKING */
/* 
.booking-page .title-component-wrapper {
  background-color: #202020;
  background-image: url(../images/about-us.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  color: #fff;
} */

<<<<<<< HEAD
}

/* CONTACT US */


.contact-us-container .title-component-wrapper{
    background-color: #202020;
    background-image: url(../images/contact-us.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    color: #fff;
    
    }

.contact-us input{
    background-color:red;
    
}



=======
.title-component-wrapper {
  background-color: #202020;
  background-image: url(../images/about-us.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  color: #fff;
}
>>>>>>> 1c8d7c441ea325e743f37cfa6a619369dd889518
