/* body{
   
} */

/* .form-btn{
    border: none;
    border-radius: 0%;
} */

/*  Register page style */
.register-page .form-section {
    background-color:#fff;

}

.register-page input, .login-page input{
    background-color: #E5E5E5;
}






/* login-page */
.form-btn {
    border: none;
    border-radius: 0%;
  
}

.login-page a{
    text-align: center;
    color: #B0B0B0;
 
    
}


/* 
ABOUT US */

.about-us-container .title-component-wrapper{
background-color: #202020;
background-image: url(../images/about-us.png);
background-size: cover;
background-repeat: no-repeat;
background-blend-mode: soft-light;
color: #fff;

}

/* CONTACT US */


.contact-us-container .title-component-wrapper{
    background-color: #202020;
    background-image: url(../images/contact-us.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    color: #fff;
    
    }

.contact-us input{
    background-color:red;
    
}



